<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ judul }}</title>
</head>
<body>
    Data TUK <br>
    <table border="2px">
        <tr>
            <td>NAMA</td>
            <td>KODE</td>
        </tr>
        {{#each items}}
        <tr>
            <td>{{ nama_lsp }}</td>
            <td>{{ kode_lsp }}</td>
        </tr>
        {{/each}}
    </table>
    
</body>
</html>